In [1]:
import pandas as pd
import geopandas
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## *Preparing data*

In [2]:
curlews = pd.read_csv('Curlews.csv')
eiders = pd.read_csv('Spectacled_eiders.csv')
whinchats = pd.read_csv('Whinchats_Saxicola.csv')
long_tailed_ducks = pd.read_csv('Long_tailed_ducks.csv')
mallards = pd.read_csv('Mallards.csv')

In [3]:
curlews = curlews.iloc[:50000, [0, 2, 3, 4, 8]]

In [4]:
eiders = eiders.iloc[:, [0, 2, 3, 4, -4]]

In [5]:
whinchats = whinchats.iloc[:, [0, 2, 3, 4, -4]]

In [6]:
ducks = long_tailed_ducks.iloc[:, [0, 2, 3, 4, -4]]

In [7]:
mallards = mallards.iloc[:, [0, 1, 2, 3, 5]]

In [8]:
df = curlews.append(eiders, ignore_index = True)

In [9]:
df = df.append(whinchats, ignore_index = True)

In [10]:
df = df.append(ducks, ignore_index = True)

In [11]:
df = df.append(mallards, ignore_index = True)

In [12]:
df.fillna(method='backfill', inplace = True)

In [13]:
df['animal_type'] = df['individual-taxon-canonical-name']
df.drop('individual-taxon-canonical-name', axis = 1, inplace = True)
df['longitude'] = df['location-long']
df.drop('location-long', axis = 1, inplace = True)
df['latitude'] = df['location-lat']
df.drop('location-lat', axis = 1, inplace = True)

In [14]:
df.isnull().sum()

event-id       0
timestamp      0
animal_type    0
longitude      0
latitude       0
dtype: int64

In [15]:
df.to_csv('data.csv')

In [16]:
df

,event-id,timestamp,animal_type,longitude,latitude
0,17824007515,2014-04-01 00:00:00.000,Numenius arquata,8.718917,54.689633
1,17824007518,2014-04-01 00:30:00.000,Numenius arquata,8.718183,54.688633
2,17824007521,2014-04-01 01:00:00.000,Numenius arquata,8.717083,54.689316
3,17824007524,2014-04-01 01:30:00.000,Numenius arquata,8.717550,54.689316
4,17824007527,2014-04-01 02:00:00.000,Numenius arquata,8.717550,54.688949
...,...,...,...,...,...
84885,209288892,2010-05-05 15:00:00.000,Anas platyrhynchos,11.997500,51.403830
84886,209288893,2010-05-05 21:00:00.000,Anas platyrhynchos,11.997500,51.403830
84887,209288894,2010-05-06 06:00:00.000,Anas platyrhynchos,11.997300,51.403830
84888,209288895,2010-05-06 15:00:00.000,Anas platyrhynchos,11.997500,51.403830
84889,209288896,2010-05-06 21:00:00.000,Anas platyrhynchos,11.997500,51.403670

In [17]:
df.groupby('individual-taxon-canonical-name').count()

KeyError: 'individual-taxon-canonical-name'

## *Plotting map*

In [ ]:
!pip install basemap

In [ ]:
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
# setup Lambert Conformal basemap.
# set resolution=None to skip processing of boundary datasets.
m = Basemap(width=12000000,height=9000000,projection='lcc',
            resolution=None,lat_1=45.,lat_2=55,lat_0=50,lon_0=-107.)
m.bluemarble()
plt.show()